<% if @has_todo %>
  <% entry_body = EntryRenderer.new(entry).todo_to_html %>
<% else %>
  <% if static_klass %>
    <% entry_body = EntryRenderer.new(entry).render_body(remove_subject: true) %>
  <% else %>
    <% entry_body = EntryRenderer.new(entry).render_body %>
  <% end %>
<% end %>

<% renderer = EntryRenderer.new(entry) %>

<entry class="timeline">
<entry-container class="<%= truncate_class(renderer.render_body(remove_subject: true), threaded )%> ">
  <action-bar>
    <a href="<%= entry_path(entry)%>" class="Box-btn-octicon btn-octicon permalink mr-1"><% if threaded %><%= octicon "link", class: "mr-1" %><%= entry.occurred_at %><% else %><%= octicon "link", class: "mr-1" %><%= entry.occurred_at.strftime("%Y-%m-%d @ %H:%M") %><% end %>
    </a><a href="" class="Box-btn-octicon btn-octicon unselectable mr-1 hide-on-fold trigger-fold">
      <%= octicon("fold") %> fold
    </a><a href="" class="Box-btn-octicon btn-octicon unselectable mr-0 show-on-fold trigger-fold" ><%= octicon("unfold") %> unfold
    </a><span class="float-right">
      <% if entry.reply? && !threaded %><a href="<%= threaded_entry_path(entry, thread: true) %>" class="Box-btn-octicon btn-octicon unselectable mr-1">
          <%= octicon("comment-discussion") %> thread</a><%end%>
  </span>
  </action-bar>

  <entry-subject>
    <a href="<%= entry_path(entry) %>" class="text-gray-dark">
      <%= renderer.subject_html %>
    </a>
  </entry-subject>

  <entry-body class="markdown-body">
    <% if @search_tokens %>
      <%= highlight renderer.render_body(remove_subject: true), @search_tokens, sanitize: false%>
    <% else %>
      <%= renderer.render_body(remove_subject: true) %>
    <% end %>
  </entry-body>
  <div class="show-all-toggle">
    <p class="text-blue"><%= octicon "chevron-down" %> Keep reading</p>
  </div>
</entry-container>
</entry>

<% if false %>
<div class="<%= if static_klass; static_klass; else "entry-box"; end %> <%= "entry-threaded" if threaded %>">
    <div class="Box-body markdown-body <%= truncate_class(entry_body, threaded)%> <%= "truncate-more" if threaded %> js-task-list-container pb-1 ">
      <% if false# static_klass %>
        <div class="entry-subject">
          <% if entry.subject %>
            <a href="<%= entry_path(entry) %>" class="text-gray-dark">
              <%= EntryRenderer.new(entry).subject_html %>
            </a>
          <% else %>
            <a href="<%= entry_path(entry) %>" class="text-gray-light"><h2>(untitled note)</h2></a>
          <% end %>
        </div>
      <% end %>

      <%= render partial: "static_site/entries/action_bar", locals: { entry: entry, threaded: threaded } %>
      <div class="entry-subject">
      <% if entry.subject %>
        <a href="<%= entry_path(entry) %>" class="text-gray-dark">
          <%= EntryRenderer.new(entry).subject_html %>
        </a>
      <% else %>
      <% end %>
      </div>
    <div class="entry-body">

      <% if @search_tokens %>
        <%= highlight entry_body, @search_tokens, sanitize: false%>
      <% else %>
        <%= entry_body %>
      <% end %>
    </div>
    <div class="show-all-toggle">
      <p class="text-blue"><%= octicon "chevron-down" %> Keep reading</p>
    </div>
  </div>
</div>
<% end %>
