<%# <% if @has_todo  #TODO: handle this case%>
  <%# <% entry_body = EntryRenderer.new(entry).todo_to_html %>
<%# <% else %>
  <%# <% entry_body = EntryRenderer.new(entry, remove_subject: true).render_body(remove_subject: true) %>
<%# <% end %>

<% renderer = EntryRenderer.new(entry, remove_subject: true) %>

<entry class="timeline">
  <entry-container class="<%= truncate_class(renderer.to_html2, threaded)%>">
    <action-bar>
      <a href="<%= entry_path(entry)%>" class="Box-btn-octicon btn-octicon permalink mr-1"><% if threaded %><%= octicon "link", class: "mr-1" %><%= entry.occurred_at %><% else %><%= octicon "link", class: "mr-1" %><%= entry.occurred_at.strftime("%Y-%m-%d @ %H:%M") %><% end %>
      </a><a href="" class="Box-btn-octicon btn-octicon unselectable mr-1 hide-on-fold trigger-fold">
        <%= octicon("fold") %> fold
      </a><a href="" class="Box-btn-octicon btn-octicon unselectable mr-0 show-on-fold trigger-fold" ><%= octicon("unfold") %> unfold
      </a><span class="float-right">
        <% if entry.reply? && !threaded %><a href="<%= threaded_entry_path(entry, thread: true) %>" class="Box-btn-octicon btn-octicon unselectable mr-1">
            <%= octicon("comment-discussion") %> thread</a><%end%>
    </span>
    </action-bar>

    <entry-subject>
      <a href="<%= entry_path(entry) %>" class="text-gray-dark">
        <%= renderer.subject_html %>
      </a>
    </entry-subject>

    <entry-body class="markdown-body">
      <% if @search_tokens %>
        <%= highlight renderer.to_html2, @search_tokens, sanitize: false%>
      <% else %>
        <%= renderer.to_html2 %>
      <% end %>
    </entry-body>
    <div class="show-all-toggle">
      <p class="text-blue"><%= octicon "chevron-down" %> Keep reading</p>
    </div>
  </entry-container>
</entry>
