<%# <%= render partial: "static_site/shared/sidebar" %>

<%= render partial: "shared/nav_header" %>
<div class="sidebar-container">
  &nbsp;
</div>

<div class="content-container">
  <% if false %>
  <div class="pagehead pt-2 mb-2" style="border-bottom: 0">
    <nav aria-label="Breadcrumb" class="mb-1">
      <ol>
        <li class="breadcrumb-item"><h3 class="d-inline"><a href="<%= timeline_path(@current_notebook) %>">Timeline</a></h3></li>
        <li class="breadcrumb-item"><h3 class="d-inline"><a href="<%= calendar_daily_path(@current_date, @entry.parent_notebook) %>"><%= @current_date %></a></h3></li>
        <li class="breadcrumb-item" aria-current="page"><h3 class="d-inline"><%= @entry.identifier %></h3></li>
      </ol>
    </nav>
  </div>
<% end %>

  <% if @show_thread && @entry.parent %>
    <%= render partial: "static_site/entries/thread_list_entry", locals: { entry: @entry.parent } %>
  <% end %>

  <div class="entry-box entry-show static_pls">
    <div class="Box-body border-0 markdown-body js-task-list-container">
        <div class="entry-subject">
        <% if @entry.subject %>
          <a href="<%= entry_path(@entry) %>" class="text-gray-dark">
            <%= @renderer.subject_html %>
          </a>
        <% else %>
          <a href="<%= entry_path(@entry) %>" class="text-gray"><h2>(untitled note)</h2></a>
        <% end %>
      </div>


      <div class="action-bar">
        <a href="<%= entry_path(@entry, notebook: @entry.notebook)%>" class="Box-btn-octicon btn-octicon">
          <%= octicon "link", class: "mr-1 v-visible " %><%= @entry.occurred_at.strftime("%Y-%m-%d @ %H:%M") %>
        </a>

        <% if !@show_thread && (@entry.reply? || @entry.replies.any?) %><a href="<%= threaded_entry_path(@entry, notebook: @entry.notebook) %>" class="Box-btn-octicon btn-octicon unselectable mr-1 float-right">
            <%= octicon("comment-discussion") %> thread</a>
      <%end%>

      </div>

        <div class="entry-body">
    <% if @entry.calendar? %>
      <h3><%= @entry.subject %></h3>

      <% if @entry.to.present? %>
        <h5>Attendees:</h5>
        <%= @renderer.to_html("to") %>
      <% end %>

      <% if @entry.from.present? %>
        <h5>From:</h5>
        <%= @renderer.to_html("from") %>
      <% end %>
      <h5>Description:</h5>
      <%= @renderer.to_html %>

    <% else %>
      <%= @renderer.render_body(remove_subject: true) %>
    <% end %>
    </div>

    <%# by definition can't render show w/o an existing entry %>
    <%# here we set up a for the purposes of updating task lists automagically. %>
    <%# id is set to entry_body_tasklist to allow for reliably detecting when an entry textarea is present %>
    <div class="entry-edit d-none">
      <%= form_with(model: @entry, url: entry_path(@entry, notebook: @entry.notebook)) do |form| %>
        <%= form.text_area :body, class: "js-task-list-field", id: "entry_body_tasklist" %>
      <% end %>
    </div>

  </div>

  <% if false# FIX ME later @entry.files.attached? %>
    <div class="border-top pt-2 Box-footer">
      <h4>Attached files:</h4>
      <% @entry.files.each do |file| %>
        <p><A href="<%= url_for(file)%>"><%= file.filename %></a></p>
      <% end %>
    </div>
  <% end %>
  </div>

  <div class="form-actions pt-3">
    <%= link_to 'Back', request.referer.present? ? request.referer : timeline_path(@current_notebook), class: "btn float-left" %>
   </div>

  <% if @show_thread && @entry.replies.any? %>
    <div class="mt-3">
      <%= render partial: "static_site/entries/thread_list_reply_entries", locals: { entry: @entry } %>
    </div>
  <% end %>
</div>
