<% klass, hide_form = nil %>
<% klass = "new_entry" if new_form %>
<% form_klass = "d-none" unless new_form %>

<%= form_with(model: entry, local: true, html: {class: klass}) do |form| %>
  <div class="pb-5">
    <details class="details-reset float-left">
      <summary class="btn mr-2">Metadata</summary>
      <dl class="form-group">
        <dt><%= form.label :occurred_at %></dt>
        <dd><%= form.text_field :occurred_at, class: "form-control input-sm" %></dd>
      </dl>
    </details>

  </div>

  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= form.text_area :body, class: "form-control input-block #{form_klass}" %>
    <%= CommonMarker.render_html(entry.body).html_safe if entry.body && !new_form %>

    <% if false %>
      <div id="entry_content" contenteditable=true style="" class="p-2 <%= "new" if new_form %>" tabindex=0><%= entry.body&.html_safe %></div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', timeline_path, class: "btn btn-danger float-left" %>
  </div>
<% end %>
