<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= form.text_area :body, class: "form-control input-block" %>
    </div>

  <% if false #unless entry.new_record? %>
    <div class="form-group">
      <%= form.label :occurred_at %>
      <%= form.text_field :occurred_at, class: "form-control input-sm" %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
