<% if entry.new_record? %>
  <% url = entries_path(notebook: @current_notebook) %>
<% else %>
  <% url = entry_path(entry, notebook: @current_notebook) %>
<% end %>
<%= form_with(model: entry, url: url, local: true) do |form| %>
  <div class="pb-5">
    <details class="details-reset float-left">
      <summary class="btn mr-2">Metadata</summary>
      <dl class="form-group">
        <dt><%= form.label :occurred_at %></dt>
        <dd><%= form.text_field :occurred_at, class: "form-control input-sm" %></dd>
      </dl>
    </details>

  </div>

  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :body, class: "form-control input-block" %>
    <%= form.file_field :files, multiple: true, direct_upload: true %>

    <% if @entry.files.attached? %>
      <div class="pt-2">
        <h4>Attached files:</h4>
        <table class="col-12">
          <% @entry.files.each do |file| %>
            <tr>
              <td class="col-10">
                <%= form.hidden_field :files, multiple: true, value: file.signed_id %>
              <a href="<%= url_for(file)%>"><%= file.filename %></a></td>
              <td>
                <a href="">delete</a>
              </td>

            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "btn btn-primary" %>
    <%= link_to 'Cancel', timeline_path(@current_notebook), class: "btn btn-danger float-left" %>
  </div>
<% end %>
