<div class="entry-box">
  <div class="Box-header">
    <a href="<%= edit_entry_path(entry, notebook: @current_notebook)%>" class="Box-btn-octicon btn-octicon float-right">
      <%= octicon("pencil") %>&nbsp;
    </a>

    <a href="<%= entry_path(entry, notebook: @current_notebook)%>" class="Box-btn-octicon btn-octicon">
      <%= octicon "link" %>
      <%= entry.occurred_at %>
    </a>
  </div>
  <div class="Box-body markdown-body">
    <%= EntryRenderer.new(@current_notebook, entry).to_html %>
  </div>
</div>
