<% if entry.calendar? %>
  <div class="TimelineItem">
    <div class="TimelineItem-badge">
      <%= octicon("organization") %>
    </div>

    <div class="TimelineItem-body mt-0">
      <div>
        <h3><a href="<%= entry_path(entry, notebook: entry.notebook) %>" class="text-gray-dark"><%= entry.subject %></a></h2>
        <span><%= octicon("watch") %> <%= entry.occurred_at.strftime("%H:%M") %></span>&nbsp;&nbsp;
        <span><%= octicon("mail-read") %> <%= entry.from %></span>&nbsp;&nbsp;
        <span><%= octicon("person") %> <%= entry.to.split(", ").count %> attendees</span>&nbsp;&nbsp;
        <a href="" class="btn btn-sm">Add notes </a>
      </div>
    </div>
  </div>

<% else %>
  <div class="entry-box">
    <div class="Box-header">
      <a href="<%= edit_entry_path(entry, notebook: @current_notebook)%>" class="Box-btn-octicon btn-octicon float-right">
        <%= octicon("pencil") %>&nbsp;
      </a>

      <a href="<%= entry_path(entry, notebook: @current_notebook)%>" class="Box-btn-octicon btn-octicon">
        <%= octicon "link" %>
        <%= entry.occurred_at %>
      </a>
    </div>
    <div class="Box-body markdown-body">
      <%= EntryRenderer.new(entry).to_html %>
    </div>
  </div>
<% end %>
