<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <div class="pagehead pt-2 mb-2">
    <h1>New entry</h1>
  </div>

  <%= render 'form', entry: @entry %>

  <% if @parent_entry %>
    <div class="pt-6">
      <%= render partial: "entries/list_entry", locals: { entry: @parent_entry, threaded: true } %>

      <% @parent_entry.thread_ancestors.each do |thread_entry| %>
        <%= render partial: "entries/list_entry", locals: { entry: thread_entry, threaded: true } %>
      <% end %>
    </div>

  <% end %>

  <div class="mb-10"></div>
</div>

<div class="context-container mt-8">
  <% if @todo_list_items.present? %>
    <h4>Tasks</h4>
    <div class="recent-todos pt-2">
      <% @todo_list_items.each do |tli| %>
        <div class="pb-2">
          <a href="<%= entry_path(tli.entry)%>">
            <%= EntryRenderer.new(tli.entry).gimme_html("- #{tli.source}") %>
            <span class="muted-link"><%= tli.tags.map(&:name).join(" ") %> <%= time_ago_in_words(tli.occurred_at, include_seconds: true) %> ago</span>
          </a>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
