<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <div class="border-bottom mb-2">
    <h4>
    <nav aria-label="Breadcrumb" class="mb-1">
  <ol>
    <li class="breadcrumb-item"><a href="<%= timeline_path(@current_notebook) %>">Timeline</a></li>
    <li class="breadcrumb-item"><a href="<%= calendar_daily_path(@current_date, notebook: @entry.notebook) %>"><%= @current_date %></a></li>
    <li class="breadcrumb-item" aria-current="page"><%= @entry.identifier %></li>
  </ol>
    </h4>
</nav>
  </div>

  <div class="">

    <% if @entry.parent %>
    <%= render partial: "entries/thread_list_entry", locals: { entry: @entry.parent } %>
  <% end %>


  <div class="markdown-body pr-4">
    <div class="entry-list-header">
      <a href="<%= entry_path(@entry, notebook: @entry.notebook)%>" class="Box-btn-octicon btn-octicon mr-1">
        <%= octicon "link", class: "mr-1" %><%= @entry.occurred_at %>
      </a><a href="<%= edit_entry_path(@entry, notebook: @entry.notebook)%>" class="Box-btn-octicon btn-octicon unselectable mr-1">
          <%= octicon("pencil") %> edit
        </a>
    </div>

    <% if @entry.calendar? %>
      <%= @renderer.to_html("subject") %>

      <% if @entry.to.present? %>
        Attendees: <%= @renderer.to_html("to") %>
      <% end %>

      <% if @entry.from.present? %>
        From: <%= @renderer.to_html("from") %>
      <% end %>

      <%= @renderer.to_html %>

    <% else %>
      <%= @renderer.to_html %>
    <% end %>
  </div>

  <% if @entry.files.attached? %>
    <div class="border-top pt-2">
      <h4>Attached files:</h4>
      <% @entry.files.each do |file| %>
        <p><A href="<%= url_for(file)%>"><%= file.filename %></a></p>
      <% end %>
    </div>
  <% end %>
  </div>

  <div class="form-actions mt-2 pt-3 border-top">
    <a href="<%= new_entry_path(notebook: @entry.notebook, in_reply_to: @entry) %>" class="btn btn-primary"><%= octicon("reply") %> Add note</a>
    <%= link_to 'Back', request.referer.present? ? request.referer : timeline_path(notebook: @current_notebook), class: "btn float-left" %>
  </div>
</div>
