<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <div class="pagehead">
    <h1>Entry <%= @entry.identifier %></h1>
  </div>
  <details class="details-reset mt-3">
    <summary class="btn mr-2">Metadata</summary>
    <dl class="form-group">
      <dt><label>occurred_at</label></dt>
      <dd><span><%= @entry.occurred_at %></dd>
    </dl>
  </details>


  <div class="form-group markdown-body">
    <% if @entry.calendar? %>
      <%= @renderer.to_html("subject") %>

      <% if @entry.to.present? %>
        Attendees: <%= @renderer.to_html("to") %>
      <% end %>

      <% if @entry.from.present? %>
        From: <%= @renderer.to_html("from") %>
      <% end %>

      <%= @renderer.to_html %>

    <% else %>
      <%= @renderer.to_html %>
    <% end %>
  </div>

  <% if @entry.files.attached? %>
    <div class="border-top pt-2">
      <h4>Attached files:</h4>
      <% @entry.files.each do |file| %>
        <p><A href="<%= url_for(file)%>"><%= file.filename %></a></p>
      <% end %>
    </div>
  <% end %>

  <div class="form-actions mt-2 pt-3 border-top">
    <a href="<%= edit_entry_path(@entry, notebook: @entry.notebook) %>" class="btn btn-primary">Edit</a>
    <%= link_to 'Back', request.referer.present? ? request.referer : timeline_path(notebook: @current_notebook), class: "btn float-left" %>
  </div>
</div>
