<div class="col-3 pt-2 float-left">
  <h4><%= octicon "calendar" %> Calendar</h4>
  <h4><%= octicon "gear" %> Settings</h4>
  <!-- <ul style="list&#45;style&#45;type: none;"> -->
  <!--   <li>#dev</li> -->
  <!-- </ul> -->
</div>

<div class="col-8 pt-2 pb-4 float-left">
  <%= month_calendar events: @entries, attribute: :occurred_at do |date, entries, calendar| %>
    <% if entries.any? %>
      <a href="<%= calendar_daily_path(date) %>" style="width: 100%; display: block">
        <%= date.day %>
        <div>
          <%= entries.count %> entries
        </div>
      </a>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>
