<%= render partial: "shared/sidebar" %>

<div class="calendar-container">
    <% if FeatureFlag[:redesign] %>
    <%= render partial: "shared/tabnav" %>
  <% else %>
    <div class="pagehead pt-2">
      <h1 class="d-inline">Monthly</h1>
      <a href="<%= new_entry_path(notebook: @current_notebook) %>" class="btn float-right mt-2"><%= octicon "pencil" %> New Entry</a>
    </div>
  <% end %>
  <%= month_calendar events: @entries, attribute: :occurred_at do |date, entries, calendar| %>
    <% if entries.any? %>
      <a href="<%= calendar_daily_path(date, notebook: @current_notebook) %>" style="width: 100%; display: block">
        <%= date.day %>
        <div class="pt-2">
          <%= entries.count %> entries
        </div>
      </a>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>
