<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <div class="pagehead">
    <h1>Calendar</h1>
  </div>
  <%= week_calendar events: @entries, attribute: :occurred_at do |date, entries, calendar| %>
    <% if entries.any? %>
      <a href="<%= calendar_daily_path(date, notebook: @current_notebook) %>" style="width: 100%; display: block">
        <%= date.day %>
        <div class="pt-2">
          <%= entries.count %> entries
        </div>
      </a>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>

