<%= render partial: "shared/sidebar" %>

<div class="content-container">

  <% if FeatureFlag[:redesign] %>
    <%= render partial: "shared/tabnav" %>
  <% else %>
    <div class="pagehead">
      <h1>Calendar</h1>
    </div>
  <% end %>
  <%= week_calendar events: @entries, attribute: :occurred_at do |date, entries, calendar| %>
    <% if entries.any? %>
      <a href="<%= calendar_daily_path(date, notebook: @current_notebook) %>" style="width: 100%; display: block">
        <%= date.day %>
      </a>
      <hr>
      <div class="pt-2">
        <% entries.each do |entry| %>
          <a href="<%= entry_path(entry, notebook: @current_notebook)%>" class="f6"  style="width: 100%; display: block"><%= entry.truncated_description.truncate(24) %>
          <hr>
        <% end %>
      </div>
    <% else %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>

