<div class="entry-box">
  <div class="Box-body markdown-body <%= truncate_class(entry)%> js-task-list-container">
    <%= render partial: "entries/action_bar", locals: { entry: entry } %>
    <div class="entry-body">
      <%= EntryRenderer.new(entry).to_html %>
    </div>
    <div class="entry-edit d-none">
      <%= form_with(model: entry, url: entry_path(entry, notebook: entry.notebook)) do |form| %>
        <%# if this is a text_area, it breaks the autofocus on the entries/form text_area. so it's a text_field! %>
        <%= form.text_field :body, class: "js-task-list-field" %>
      <% end %>
    </div>
  </div>
</div>
