<div class="entry-box">
  <div class="Box-body markdown-body <%#= truncate_class(entry)%>">
    <div class="entry-list-header">
      <a href="<%= entry_path(entry, notebook: entry.notebook)%>" class="Box-btn-octicon btn-octicon mr-1">
        <%= octicon "link", class: "mr-1" %><%= entry.occurred_at.strftime("%H:%M:%S") %>
      </a><a href="<%= edit_entry_path(entry, notebook: entry.notebook)%>" class="Box-btn-octicon btn-octicon unselectable mr-1">
        <%= octicon("pencil") %> edit
      </a><a href="" class="Box-btn-octicon btn-octicon unselectable mr-1 hide-on-fold trigger-fold">
        <%= octicon("fold") %> fold
      </a><a href="" class="Box-btn-octicon btn-octicon unselectable mr-1 show-on-fold trigger-fold" ><%= octicon("unfold") %> unfold
      </a><% if entry.reply? %><a href="<%= entry_path(entry.in_reply_to, notebook: entry.notebook)%>" class="Box-btn-octicon btn-octicon unselectable">
          <%= octicon("telescope") %> parent</a><%end%>
  </div>

  <%= EntryRenderer.new(entry).to_html("todo_body") %>
  </div>
</div>
