<div class="tabnav mt-2">
  <nav class="tabnav-tabs" aria-label="Foo bar">
    <a class="tabnav-tab" href="<%= timeline_path(notebook: @current_notebook) %>" <%= current_tabnav(:timeline) %> accesskey="1"><h5><%= octicon "note" %> Everything <span class="Counter">1</span></h5></a>
    <a class="tabnav-tab" href="<%= agenda_path(notebook: @current_notebook) %>" <%= current_tabnav(:this_day) %> accesskey="2"><%= octicon "watch" %> This Day <span class="Counter">2</span></a>
    <a class="tabnav-tab" href="<%= calendar_weekly_path(notebook: @current_notebook) %>"  <%= current_tabnav(:this_week) %>><%= octicon "list-unordered" %> This Week <span class="Counter">3</span></a>
    <a class="tabnav-tab" href="<%= calendar_path(notebook: @current_notebook) %>" <%= current_tabnav(:this_month) %>><%= octicon "calendar" %> This Month <span class="Counter">4</span></a>
  </nav>
</div>
