<% if @timeline_entries.any? %>
  <div class="sidebar-container">
    &nbsp;
  </div>
  <div class="content-container">
    <div>
      <div class="TimelineItem-start"></div>

      <% prev_day = nil; @grouped_entries&.each do |day, entries| %>

        <% if prev_day %>
          <% delta = (prev_day - day).to_i %>
          <% if delta > 2 %>

            <div class="TimelineItem TimelineItem--condensed entry-date pt-4 pb-2">
              <div class="TimelineItem-badge">
                <%= octicon("calendar") %>
              </div>

              <div class="TimelineItem-body"><%= "#{delta} days later…" %></div>
            </div>
          <% end %>
        <% end %>

        <div>
          <div class="TimelineItem entry-date">
            <div class="TimelineItem-badge bg-blue text-white">
              <%= octicon("calendar") %>
            </div>
            <h3><a href="<%= calendar_daily_path(day, @current_notebook)%>"><%= day.strftime("%A, %Y-%m-%d") %></a></h3>
          </div>
          <% entries.each do |entry| %>
            <%= render partial: "entries/list_entry", locals: { entry: entry } %>
          <% end %>
        </div>

        <% prev_day = day %>
      <% end %>

    </div>
    <%= will_paginate @timeline_entries, class: "pagination mt-4 mb-4"%>
  </div>

  <div class="context-container mt-2">
    <h2>Tags & Mentions</h2>
    <div class="mt-2">
      <%= render partial: "shared/recent_tags_and_contacts" %>
    </div>
  </div>
<% end %>
