<div class="tabnav mt-2">
  <% if false %>
  <%= form_for SavedSearch.new, url: save_search_path(notebook: @current_notebook), html: { class: "" }, method: :post do |form| %>
    <%= form.hidden_field :query %>
    <details class="details-reset details-overlay details-overlay-dark float-right" style="margin-left: -2px">
      <summary class="btn btn-sm" aria-haspopup="dialog">Add <span class="dropdown-caret"></span></summary>
      <details-dialog class="Box d-flex flex-column anim-fade-in fast mt-1" style="position: absolute; margin-top: 4px !important; margin-left: -242px; width: 300px; z-index: 100;">
        <div class="overflow-auto">
          <div class="Box-header">
            <h4>Add or edit saved search</h4>
          </div>
          <div class="Box-body overflow-auto">
            <dl class="form-group my-0">
              <dt>
              <%= form.label :octicon %>
              </dt>
              <dd>
              <%= form.select :octicon, SavedSearch::OCTICONS, {include_blank: true}, { class: "form-select" } %>
              <%# <%= form.text_field :octicon, class: "form-control" %>
              </dd>

              <dt>
              <%= form.label :name %>
              </dt>
              <dd>
              <%= form.text_field :name, class: "form-control" %>
              </dd>
            </dl>
          </div>
        </div>
        <div class="Box-footer">
          <%= form.submit class: "btn btn-block" %>
        </div>
      </details-dialog>
    </details>
  <% end %>
  <% end %>

  <nav class="tabnav-tabs" aria-label="Foo bar">
    <div class="UnderlineNav-body">
      <a class="tabnav-tab" href="<%= timeline_path(notebook: @current_notebook) %>" <%= current_search_tabnav(nil, @search_query) %> accesskey="1">
        <%= octicon "note" %> Notes
      </a>

      <% [
          ["Tasks", "checklist", "has:todo"],
          ["Bookmarks", "bookmark", "is:bookmark"],
          ["Calendar", "calendar", "is:calendar"],
          ["Everything", "archive", "is:everything"],
          ["Last week", "ellipsis", "is:everything sort:asc after:#{1.weeks.ago.to_date}"]
        ].each_with_index do |(name, icon, search_string), i| %>
      <span class="tabnav-tab" <%= current_search_tabnav(search_string, @search_query) %>>
          <a class="<%= current_search_tabnav_colour(search_string, @search_query) %>" href="<%= search_path(notebook: @current_notebook, query: search_string) %>" accesskey="<%= i + 2 %>"> <%= octicon icon %> <%= name %></a> 
        </span>
      <% end %>

      <%# potentially deprecated %>
      <%# <% saved_searches = @current_notebook.saved_searches.limit(6) %>
      <% if false #saved_searches.limit(6).each_with_index do |saved_search, i| %>
        <span class="tabnav-tab" <%= search_tabnav(saved_search, @search_query) %>>
          <a class="<%= search_tabnav_colour(saved_search, @search_query) %>" href="<%= search_path(notebook: @current_notebook, query: saved_search.query) %>" accesskey="<%= i + 2 %>"><% unless saved_search.octicon.blank? %><%= octicon saved_search.octicon %><% end %> <%= saved_search.name %></a><% if search_tabnav(saved_search, @search_query) %>

        <%= form_for saved_search, url: delete_saved_search_path(notebook: @current_notebook, id: saved_search), html: { class: "d-inline" }, method: :delete do |form| %>
          <button type="submit" class="btn-link text-gray-dark"><%= octicon("x")%></button>
        <% end %>
      <% end %>
        </span>
      <% end %>

    </div>
  </nav>
</div>

<div class="form-actions">
  <div class="d-inline-flex col-12 pb-1">
    <%= form_with url: search_path(notebook: @current_notebook), local: true, method: :get, html: { name: "searchform", class: "col-12" } do |form| %>

      <div class="position-relative d-inline-flex col-12">


        <text-expander keys="# @" class="col-12">
          <%= form.text_field :search_query, class: "form-control pl-5 col-12", value: @search_query, name: "query", placeholder: "Type and hit enter to search. Ctrl+L to focus.", autocomplete: "off" %>
        </text-expander>
        <%= octicon "search", class: "subnav-search-icon", style: "z-index: 3" %>
        <span class="input-group-button">
          <%= form.submit "Search", class: "btn" %>
        </span>
      </div>

    <% end %>

    <a href="<%= new_entry_path(notebook: @current_notebook) %>" class="btn ml-2"><%= octicon "pencil" %> New Entry</a>

  </div>
</div>
