<%= form_with url: search_path(notebook: @current_notebook), local: true, method: :get, html: { name: "searchform" } do |form| %>
  <div class="form-actions">
    <div class="input-group col-12 float-left">

      <div class="position-relative">
        <%= form.text_field :search_query, class: "form-control pl-5 col-12", value: @search_query, name: "query", placeholder: "Type and hit enter to search. Ctrl+L to focus." %>
        <%= octicon "search", class: "subnav-search-icon", style: "z-index: 3" %>
      </div>

      <span class="input-group-button">

        <details class="dropdown details-reset details-overlay ">
          <summary class="btn" aria-haspopup="true" style="margin-left: -2px">
            Add Filter
            <div class="dropdown-caret"></div>
          </summary>

          <ul class="dropdown-menu dropdown-menu-sw search-filter" style="top: 34px">
            <li><a class="dropdown-item" href="" data-filter="is:bookmark">Only Bookmarks</a></li>
            <li><a class="dropdown-item" href="" data-filter="is:calendar">Only Calendar</a></li>
            <li class="dropdown-divider" role="separator"></li>
            <li><a class="dropdown-item" href="" data-filter="not:bookmarks">No Bookmarks</a></li>
            <li><a class="dropdown-item" href="" data-filter="not:calendar">No Calendar</a></li>
          </ul>
        </details>
      </span>

      <!-- <div class="col&#45;2 float&#45;left"> -->
      <%# <%= form.submit "Search", class: "btn btn-sm" %>
      <!-- <a href="<%= new_entry_path(notebook: @current_notebook) %>" class="btn"><%= octicon "pencil" %> New Entry</a> -->
      <!-- </div> -->
    </div>
  </div>
<% end %>
