<%= render partial: "shared/sidebar" %>

<div class="content-container">
  <% if FeatureFlag[:redesign] %>
    <%= render partial: "shared/tabnav" %>
    <%# <%= render partial: "timeline/search_bar" %>
  <% else %>
    <div class="pt-2 pagehead">
      <h1>Today, <%= @todays_date %></h1>
    </div>
  <% end %>

  <%= render 'entries/form', entry: @entry, skip_cancel: true, skip_metadata: true %>

  <div class="TimelineItem-start"></div>

  <% if @reminder_entry %>
    <div class="TimelineItem">
      <div class="TimelineItem-badge bg-blue text-white">
        <%= octicon("list-unordered") %>
      </div>
      <h3>Recent #winddown (<a href="<%= calendar_daily_path(@reminder_entry_date, notebook: @current_notebook)%>"><%= @reminder_entry_date %></a>)</h3>
    </div>

    <%= render partial: "entries/list_entry", locals: { entry: @reminder_entry } %>
  <% end %>


  <div>
    <div class="TimelineItem">
      <div class="TimelineItem-badge bg-blue text-white">
        <%= octicon("calendar") %>
      </div>
      <h3><a href="<%= calendar_daily_path(@todays_date, notebook: @current_notebook)%>"><%= @todays_date %></a></h3>
    </div>
    <% if @entries.empty? %>
      <div class="TimelineItem">
        <div class="TimelineItem-badge">
          <%= octicon("comment") %>
        </div>

        <div class="TimelineItem-body">
          <div>
            <h4>Nothin' yet!</h4>
          </div>
        </div>
      </div>
      <div class="TimelineItem-break ml-0"></div>
    <% else %>
      <% @entries.each do |entry| %>
        <%= render partial: "entries/list_entry", locals: { entry: entry } %>
      <% end %>
    <% end %>
  </div>

</div>
</div>

