<div class="col-8 pt-2 pb-4 float-left">
  <%= render partial: "timeline/search_bar" %>

  <div class="pt-4">
    <% @entries&.each do |day, entries| %>

      <div class="TimelineItem">
        <div class="TimelineItem-badge bg-blue text-white">
          <%= octicon("flame") %>
        </div>
        <h3><%= day %></h3>
      </div>
      <div class="Box">
        <% entries.each do |entry| %>
          <div class="Box-body">
            <a href="<%= edit_entry_path(entry)%>" class="Box-btn-octicon btn-octicon float-right">
              <%= octicon("pencil") %>
            </a>

            <%= CommonMarker.render_html(entry.body).html_safe if entry.body %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
