<%= render partial: "shared/sidebar" %>
<div class="content-container">
  <!-- <div class="pagehead pt&#45;2"> -->
  <!--   <h1 class="d&#45;inline">Timeline</h1> -->
  <!-- </div> -->
  <!--  -->
  <div style="padding-top: 9px">
    <%= render partial: "timeline/search_bar" %>
    </div>

  <div>
    <div class="TimelineItem-start"></div>

    <% prev_day = nil; @entries&.each do |day, entries| %>

      <% if prev_day %>
        <% delta = (prev_day - day).to_i %>
        <% if delta > 2 %>

          <div class="TimelineItem TimelineItem--condensed entry-date pt-4 pb-2">
            <div class="TimelineItem-badge">
              <%= octicon("calendar") %>
            </div>

            <div class="TimelineItem-body"><%= "#{delta} days later…" %></div>
          </div>
        <% end %>
      <% end %>

      <div>
        <div class="TimelineItem entry-date">
          <div class="TimelineItem-badge bg-blue text-white">
            <%= octicon("calendar") %>
          </div>
          <h3><a href="<%= calendar_daily_path(day, notebook: @current_notebook)%>"><%= day.strftime("%Y-%m-%d (%A)") %></a></h3>
        </div>
        <% entries.each do |entry| %>
          <%= render partial: "entries/list_entry", locals: { entry: entry } %>
        <% end %>
      </div>

      <% prev_day = day %>
    <% end %>

  </div>
  <%= will_paginate @all_entries, class: "pagination mt-4 mb-4"%>
</div>

<div class="context-container pl-6 mt-2">
  <h2>Recent Tags</h2>
  <ul class="list-style-none">
    <% Tag.where(notebook: @current_notebook.name).order(updated_at: :desc).limit(12).each do |topic| %>
      <li class="pb-2">
        <a href="<%= search_path(query: topic, notebook: @current_notebook)%>">
          <%=topic%><br>
          <span class="muted-link"><%= time_ago_in_words(topic.updated_at, include_seconds: true) %> ago</span>
        </a>
      </li>
    <% end %>
  </ul>

  <h2>Recent Entries</h2>
  <ul class="list-style-none">
    <% @recent_entries.each do |entry| %>
      <li class="pb-2"><a href="<%= entry_path(entry, notebook: @current_notebook)%>"><%= entry.truncated_description.truncate(30) %><br>
          <span class="muted-link"><%= time_ago_in_words(entry.occurred_at, include_seconds: true) %> ago</span></a></li>
    <% end %>
  </ul>


</div>
