<%= render partial: "shared/sidebar" %>
<div class="content-container">
  <!-- <div class="pagehead pt&#45;2"> -->
  <!--   <h1 class="d&#45;inline">Timeline</h1> -->
  <!-- </div> -->
  <!--  -->
  <div style="padding-top: 9px">
    <%= render partial: "timeline/search_bar" %>
    </div>

  <div>
    <div class="TimelineItem-start"></div>

    <% @entries&.each do |day, entries| %>

      <div>
        <div class="TimelineItem entry-date">
          <div class="TimelineItem-badge bg-blue text-white">
            <%= octicon("calendar") %>
          </div>
          <h3><a href="<%= calendar_daily_path(day, notebook: @current_notebook)%>"><%= day %></a></h3>
        </div>
        <% entries.each do |entry| %>
          <%= render partial: "entries/list_entry", locals: { entry: entry } %>
        <% end %>
      </div>
    <% end %>

  </div>
  <%= will_paginate @all_entries, class: "pagination mt-4 mb-4"%>
</div>
