<%= render partial: "shared/sidebar" %>
<div class="content-container">
  <div style="padding-top: 9px">
    <%= render partial: "timeline/search_bar" %>
    </div>

  <div>
    <div class="TimelineItem-start"></div>

    <% prev_day = nil; @entries&.each do |day, entries| %>

      <% if prev_day %>
        <% delta = (prev_day - day).to_i %>
        <% if delta > 2 %>

          <div class="TimelineItem TimelineItem--condensed entry-date pt-4 pb-2">
            <div class="TimelineItem-badge">
              <%= octicon("calendar") %>
            </div>

            <div class="TimelineItem-body"><%= "#{delta} days later…" %></div>
          </div>
        <% end %>
      <% end %>

      <div>
        <div class="TimelineItem entry-date">
          <div class="TimelineItem-badge bg-blue text-white">
            <%= octicon("calendar") %>
          </div>
          <h3><a href="<%= calendar_daily_path(day, @current_notebook)%>"><%= day.strftime("%A, %Y-%m-%d") %></a></h3>
        </div>
        <% entries.each do |entry| %>
          <%= render partial: "entries/list_entry", locals: { entry: entry, display_todos_only: @display_todos_only } %>
        <% end %>
      </div>

      <% prev_day = day %>
    <% end %>

  </div>
  <%= will_paginate @all_entries, class: "pagination mt-4 mb-4"%>
</div>

<div class="context-container mt-2">

  <h2>Tasks</h2>
  <div class="recent-todos pt-2">
    <% TodoListItem.where(notebook: @current_notebook.name, checked: false).order(occurred_at: :desc).limit(15).each do |tli| %>
      <div class="pb-2">
        <a href="<%= entry_path(tli.entry)%>">
          <%= EntryRenderer.new(tli.entry).gimme_html("- #{tli.source}") %>
          <span class="muted-link"><%= tli.tags.map(&:name).join(" ") %> <%= time_ago_in_words(tli.occurred_at, include_seconds: true) %> ago</span>
        </a>
      </div>
    <% end %>
  </div>

  <% if false %>
    <h2>Recent Tags</h2>
    <ul class="list-style-none">
      <% Tag.where(notebook: @current_notebook.name).order(updated_at: :desc).limit(30).each do |topic| %>
        <li class="pb-2">
          <a href="<%= search_path(@current_notebook, query: topic)%>">
            <%=topic%><br>
            <span class="muted-link"><%= time_ago_in_words(topic.updated_at, include_seconds: true) %> ago</span>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
