<div class="container-lg clearfix">

   <!-- <nav class="menu col&#45;1 float&#45;left"> -->
  <!--   <a class="menu&#45;item" href="">lol</a> -->
  <!--   <a class="menu&#45;item" href="">lol</a> -->
  <!--   <a class="menu&#45;item" href="">lol</a> -->
  <!-- </nav> -->
    
  <%= render partial: "timeline/search" %>
  <%= render partial: "timeline/sidebar", locals: { results: @search_results } %>

  <div class="col-6 p-2 pl-4 float-left">
    <% entry = Entry.new %>
    <%= render partial: "timeline/new_entry", locals: { entry: entry } %>

    <% @entries&.each do |day, entries| %>
      <h3><%= day %></h3>
      <% entries.each do |entry| %>
        <%= render partial: "timeline/entry", locals: { entry: entry } %>
      <% end %>
    <% end %>
  </div>
</div>
