<div class="col-8 pt-2 pb-4 float-left">
  <%= render partial: "timeline/search_bar" %>

  <div class="pt-4">
    <% @entries&.each do |day, entries| %>
      <div class="Box mb-2">
        <div class="Box-header">
          <h3 class="Box-title">
            <h3><%= day %></h3>
          </h3>
        </div>

        <% entries.each do |entry| %>
          <div class="Box-body">
            <a href="<%= edit_entry_path(entry)%>" class="Box-btn-octicon btn-octicon float-right">
              <%= octicon("pencil") %>
            </a>

            <%= CommonMarker.render_html(entry.body).html_safe if entry.body %>
            <%# <%= render partial: "timeline/list_entry", locals: { entry: entry } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<%# <%= render partial: "timeline/sidebar", locals: { results: @search_results } %>

<%# <% entry = Entry.new %>
<%# <%= render partial: "timeline/new_entry", locals: { entry: entry } %>

