<header class="static_pls">
  <div class="border-container">
  <% if @current_notebook.title %>
    <div class="title">
      <a href="<%= timeline_path(@current_notebook) %>" class="text-gray-dark"><%= EntryRenderer.new(@current_notebook.title).to_html("body", skip_toc: true) %></a>
    </div>

    <% if @current_notebook.description %>
      <div class="description markdown-body mb-2">
        <%= EntryRenderer.new(@current_notebook.description).to_html("body", skip_toc: true) %>
      </div>
    <% end %>
  <% end %>

  <nav>
    <% if @current_notebook.title.nil? %>
      <h1 class="arquivo mr-4" style="display: flex;"><a href="<%= timeline_path(@current_notebook) %>">Arquivo</a></u></h1>
    <% end %>

    <ul>
      <li>
        <h4>
          <span class="<%= current_sidebar?(:timeline) %>"><%= octicon "zap" %> <a href="<%= timeline_path(@current_notebook) %>" class="<%= current_sidebar?(:timeline) %>">Timeline</a></span>
        </h4>
      </li>
      <li>
        <h4>
          <span class="<%= current_sidebar?(:tags) %>"><%= octicon "tag"%> <a href="<%= tags_path %>" class="<%= current_sidebar?(:tags) %>">Tags</a></span>
        </h4>
      </li>
      <% if !@current_notebook.settings.disable_mentions? %>
        <li>
          <h4>
            <span class="<%= current_sidebar?(:contacts) %>"><%= octicon "mention"%> <a href="<%= contacts_path %>" class="<%= current_sidebar?(:contacts) %>">Mentions</a></span>
          </h4>
        </li>
      <% end %>
      <% if about_page = @current_notebook.entries.find_by(identifier: "about") || @current_notebook.entries.find_by(identifier: "about.html") %>
        <li>
          <h4>
            <span class="<%= current_sidebar?(:about) %>"><%= octicon "ellipsis"%> <a href="<%= entry_path(about_page) %>" class="<%= current_sidebar?(:about) %>">About</a></span>
          </h4>
        </li>
      <% end %>

       <li>
        <h4>
          <span class="text-blue"><%= octicon "rss"%> <a href="<%= timeline_feed_path %>">Feed</a></span>
        </h4>
      </li>
    </ul>
  </nav>
  </div>
</header>
