<div class="sidebar-container">
  <div class="mb-3">
    <h1 class="arquivo"><a href="<%= timeline_path(@current_notebook) %>">Arquivo</a></u></h1>
  </div>

  <div class="Box border-0">
    <div class="Box-row pl-0 mr-5">
      <h4 ><a href="<%= timeline_path(@current_notebook) %>"><%= octicon "zap" %> <span class="<%= current_sidebar?(:timeline) %>">Timeline</span></a></h4>
    </div>
    <div class="Box-row pl-0 mr-5">

      <h4><a href="<%= calendar_daily_path(nil, @current_notebook) %>"><%= octicon "watch" %> <span class="<%= current_sidebar?(:this_day) %>">This Day</span></a></h4>
    </div>
    <div class="Box-row pl-0 mr-5">
      <h4><a href="<%= contacts_path %>"><%= octicon "organization" %> <span class="<%= current_sidebar?(:contacts) %>">Contacts</span></a></h4>
    </div>
    <div class="Box-row pl-0 mr-5">
      <h4><a href="<%= tags_path %>"><%= octicon "tag" %> <span class="<%= current_sidebar?(:tags) %>">Tags</span></a></h4>
    </div>
  </div>
</div>
