<%= render partial: "static_site/shared/header" %>

<entries>
<div class="pt-2">
<% @all_entries.each do |entry| %>
  <%= render partial: "static_site/entries/list_entry", locals: { entry: entry } %>
<% end %>
</div>

<% if false %>
  <div>
    <div class="TimelineItem-start"></div>

    <% prev_day = nil; @entries&.each do |day, entries| %>

      <% if prev_day %>
        <% delta = (prev_day - day).to_i %>
        <% if delta > 2 %>

          <div class="TimelineItem TimelineItem--condensed entry-date pt-4 pb-2">
            <div class="TimelineItem-badge">
              <%= octicon("calendar") %>
            </div>

            <div class="TimelineItem-body"><%= "#{delta} days later…" %></div>
          </div>
        <% end %>
      <% end %>

      <div>
        <div class="TimelineItem entry-date">
          <div class="TimelineItem-badge bg-blue text-white">
            <%= octicon("calendar") %>
          </div>
          <h3><a href="<%= calendar_daily_path(day, @current_notebook)%>"><%= day.strftime("%A, %Y-%m-%d") %></a></h3>
        </div>
        <% entries.each do |entry| %>
          <%= render partial: "static_site/entries/list_entry", locals: { entry: entry } %>
        <% end %>
      </div>

      <% prev_day = day %>
    <% end %>

  </div>
<% end %>
  <%= will_paginate @all_entries, class: "pagination mt-4 mb-4"%>
</entries>
