<%= render partial: "static_site/shared/header" %>

<content>
  <div class="pt-2 mb-4">
    <h2>Archive of every tag</h2>
  </div>

  <% size = @tags.count %>
  <% if size > 0 %>
    <div class="entry-body">

      <ul class="d-inline float-left list-style-none mr-4">
        <% @tags[0..size/2].each do |c| %>
          <li><a href="<%= tag_path(query: c.name.gsub("#","")) %>"><%= c.name%></a></li>
        <% end %>
      </ul>

      <ul class="d-inline list-style-none">
        <% @tags[size/2+1..-1].each do |c| %>
          <li><a href="<%= tag_path(query: c.name.gsub("#","")) %>"><%= c.name%></a></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</content>
