<%= render partial: "shared/header" %>

<content>
  <div class="pt-2 mb-4">
    <h2>Entries from <%= @date %></h2>
  </div>

  <% @entries&.each do |entry| %>
    <%= render partial: "static_site/entries/list_entry", locals: { entry: entry } %>
  <% end %> 
  <div class="mb-4 mt-3">
    <% if @prev_date %>
      <a href="<%= calendar_daily_path(@prev_date, @current_notebook) %>" class="btn btn-sm">Previous Day</a>
    <%  else %>
      <a class="btn btn-sm disabled">Previous Day</a>
    <% end %>
    <% if @next_date %>
      <a href="<%= calendar_daily_path(@next_date, @current_notebook) %>" class="btn btn-sm float-right">Next Day</a>
    <% else %>
      <a class="btn btn-sm disabled float-right">Next Day</a>
    <% end %>
  </div>
</content>
