<!DOCTYPE html>
<html>
  <head>
    <title>Arquivo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/favicon.svg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-xl clearfix pt-1">
      <%= yield %>
    </div>
  </body>
</html>
