<!DOCTYPE html>
<html>
  <head>
    <title>Arquivo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/favicon.svg">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', 'defer': 'defer' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <% if @current_notebook %>
      <meta id="current_notebook" name="<%=@current_notebook%>">
    <% end %>
    <meta id="current_action" name="<%=current_action%>">
  </head>
  <body>
    <div class="container-xl clearfix pt-1">
      <%= yield %>
    </div>
  </body>
</html>
